.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.logOut-container {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.btn-dark {
  font-family: sans-serif;
  font-weight: 600;
}

h1 {
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}
