.note__container {
  /* background-color: red; */
  height: 60%;
  width: 60%;
  padding: 10px;
  color: whitesmoke;
}

.note__card {
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  height: 20%;
}

.note__card h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
