.note__container {
  /* background-color: red; */
  height: 60%;
  width: 60%;
  padding: 10px;
  color: whitesmoke;
  overflow-y: scroll;
}

.note__card {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  height: 20%;
}

.note__card h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.notes__delete-btn {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  padding: 10px;
}
